In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('Advertising.csv')
x=df.drop('sales',axis=1)
y=df['sales']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=101)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [3]:
from sklearn.linear_model import Ridge
model = Ridge(alpha = 10)

In [5]:
from sklearn.model_selection import cross_validate #for k fold cross validation

In [6]:
scores=cross_validate(model ,x_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10) #cv=5 means 5 folds

In [7]:
scores =pd.DataFrame(scores)

In [8]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.037702,0.002192,-2.931891,-1.463897
1,0.000000,0.000000,-3.520011,-1.571816
2,0.009403,0.000000,-1.889528,-1.176682
3,0.005511,0.000000,-0.861771,-0.835940
4,0.003134,0.000000,-3.840217,-1.574484
5,0.000000,0.000000,-8.489303,-1.565205
6,0.000000,0.012526,-1.669436,-0.975125
7,0.000000,0.000000,-2.959018,-1.191438
8,0.000000,0.000000,-5.284210,-1.650265
9,0.000000,0.000000,-2.945778,-1.250994

In [9]:
scores.mean()

fit_time                        0.005575
score_time                      0.001472
test_neg_mean_squared_error    -3.439116
test_neg_mean_absolute_error   -1.325585
dtype: float64

In [10]:
model = Ridge(alpha = 1)

In [11]:
scores=cross_validate(model ,x_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10) #cv=5 means 5 folds

In [13]:
scores =pd.DataFrame(scores)
scores.mean()

fit_time                        0.001766
score_time                      0.003199
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64